<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person"
		class="com.caveofprogramming.spring.test.Person">
		<constructor-arg value="777" name="id" type="int" index="0"></constructor-arg>
		<constructor-arg value="Mary" index="1" name="name" type="String">
		</constructor-arg>
		<property name="taxId">
			<value>321</value>
		</property>
	</bean>
</beans>
